/* =========      Global Styles ========= */

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: #ffffff;
  margin: 0;
}

h1,
h2,
h3,
ul,
li,
a,
p,
img {
  margin: 0;
}

h1,
h2,
h3 {
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  color: #fff;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

ul,
li {
  list-style: none;
  padding-left: 0;
  color: #2e2f42;
}

a,
p {
  text-decoration: none;
  color: #434455;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/* Header */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list,
.address {
  display: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-transform: uppercase;
  font-weight: 700;
}

.header-logo {
  padding: 16px 0;
  display: block;
  margin-right: 76px;
}

.header-logo .nav-logo-studio {
  color: #2e2f42;
}

.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}

.burger-icon {
  display: block;
  fill: #2f2f37;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }

  .header-nav {
    display: flex;
    align-items: center;
  }

  .nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .header-logo {
    padding: 24px 0;
    margin-right: 120px;
  }

  .nav-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link.current {
    position: relative;
  }

  .nav-link.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
  }

  .address {
    font-style: normal;
    display: block;
  }

  .address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .address-link {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link:hover,
  .nav-link:focus,
  .address-link:hover,
  .address-link:focus,
  .nav-link.current {
    color: #404bbf;
  }
}

@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }

  .address-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }

  .address-link {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
  }
}

/* =========      Hero Section     ========= */

.hero {
  background-color: #2e2f42;
  color: #fff;
  padding: 72px 0;
  align-items: center;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/hero/bg-mobil.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-origin: border-box;
  margin: 0 auto;
}

@media screen and (max-width: 767px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero/bg-mobil@2x.jpg");
  }
}

.hero .container {
  max-width: 375px;
  min-height: 211px;
  margin: 0 auto;
  padding: 0 15px;
}

.hero-title {
  color: #fff;
  max-width: 216px;
  margin: 0 auto;
  font-size: 36px;
}

.hero-button {
  background-color: var(--button-bg-color, #4d5ae5);
  margin-top: 72px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  padding: 16px 32px;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    min-height: 432px;
    padding: 112px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero/bg-tablet.jpg");
  }

  .hero .container {
    max-width: 768px;
  }

  .hero-title {
    max-width: 496px;
    font-size: 56px;
  }

  .hero-button {
    margin-top: 36px;
  }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero/bg-tablet@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1440px;
    min-height: 600px;
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero/bg-desktop.jpg");
  }

  .hero .container {
    max-width: 1158px;
  }

  .hero-button {
    margin-top: 48px;
  }
}

@media screen and (min-width: 1200px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero/bg-desktop@2x.jpg");
  }
}

/* =========      Services Section     ========= */

.services {
  padding: 96px 0;
}

.services .container {
  max-width: 318px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.services-title {
  font-size: 36px;
  margin-bottom: 24px;
  display: none;
}

.service {
  display: flex;
  flex-direction: column;
  row-gap: 72px;
}

.service-li {
  padding: 0;
}

.icon-container {
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
  justify-content: center;
  align-items: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  margin-bottom: 8px;
  display: none;
}

.service-li-icon {
  fill: #f4f4fd;
  background-color: #f4f4fd;
}

.service-title {
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 8px;
  text-align: center;
  color: #2e2f42;
}

.service-description {
  text-align: left;
  color: #434455;
  font-weight: 500;
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  .services .container {
    max-width: 766px;
  }

  .service {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
  }

  .service-li {
    width: calc((100% - 24px) / 2);
  }

  .service-title {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .services {
    padding: 120px 0;
  }

  .services .container {
    max-width: 1158px;
  }

  .service-li {
    width: calc((100% - 72px) / 4);
  }

  .icon-container {
    display: flex;
  }

  .service-title {
    text-align: left;
    font-size: 20px;
    font-weight: 500;
  }

  .service-description {
    font-weight: 400;
  }
}

/* =========      Team Section     ========= */

.team {
  background-color: #f4f4fd;
  text-align: center;
  padding: 96px 0;
}

.team .container {
  max-width: 318px;
  margin: 0 auto;
}

.team-title {
  margin-bottom: 72px;
  color: #2e2f42;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 36px;
}

.team-info {
  padding: 32px 0;
  text-align: center;
  width: 232px;
  margin: 0 auto;
}

.team-member {
  list-style: none;
  padding: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  row-gap: 72px;
}

.team-member-li {
  background: #fff;
  border-radius: 0 0 4px 4px;
  width: 264px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-member-title {
  margin-bottom: 8px;
  color: #2e2f42;
}

.team-member-description {
  color: #434455;
}

.traling-icons {
  width: 232px;
  height: 40px;
  display: flex;
  align-items: center;
  margin: 8px auto 0;
  justify-content: center;
  gap: 24px;
}

.team-traling-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-traling {
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
}

.team-traling:hover,
.team-traling:focus {
  background-color: #404bbf;
}

.icon {
  fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
  .team {
    padding: 96px 108px;
  }

  .team .container {
    max-width: 766px;
  }

  .team-member {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
  }

  .team-member-li {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .team {
    padding: 120px 15px;
  }

  .team .container {
    max-width: 1158px;
  }

  .team-member {
    justify-content: center;
    flex-wrap: nowrap;
    gap: 24px;
  }

  .team-member-li {
    width: calc((100% - 72px) / 4);
  }
}

/* =========      Portfolio Section     ========= */

.portfolio {
  text-align: left;
  padding: 96px 0;
}

.portfolio .container {
  max-width: 318px;
}

.portfolio-title {
  margin-bottom: 72px;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}

.cart-portfolio {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 48px;
}

.card {
  background-color: #fff;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-img {
  position: relative;
  overflow: hidden;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-absolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  color: #f4f4fd;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-img:hover .card-absolute {
  transform: translateY(0);
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.card-content {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.title-row {
  margin-bottom: 8px;
  color: #2e2f42;
  text-align: left;
}

.title-row-discr {
  color: #434455;
}

.card:hover,
.card:focus {
  box-shadow: 0 1px 6px rgba(46, 47, 66, 0.08), 0 1px 1px rgba(46, 47, 66, 0.16),
    0 2px 1px rgba(46, 47, 66, 0.08);
}

@media screen and (min-width: 768px) {
  .portfolio .container {
    max-width: 766px;
  }

  .cart-portfolio {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }

  .card {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .portfolio {
    padding: 120px 0;
  }

  .portfolio .container {
    max-width: 1158px;
  }

  .cart-portfolio {
    margin: 0;
    column-gap: 24px;
  }

  .card {
    width: calc((100% - 48px) / 3);
    box-shadow: none;
  }
}
/* =========      Footer     ========= */

.footer {
  background-color: #2e2f42;
  color: #fff;
  padding: 96px 0;
}

.footer .container {
  max-width: 318px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 72px;
  max-width: 100%;
}

.footer-info {
  text-align: center;
}

.logo .footer__logo--studio {
  color: #f4f4fd;
}

.footer-description {
  margin-top: 16px;
  color: #f4f4fd;
  width: 100%;
  text-align: left;
}

.footer-social-media,
.footer-subscription {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.footer-social-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.trailing-icons {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.team-trailing-icon {
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-trailing {
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.team-trailing:hover,
.team-trailing:focus {
  background-color: #31d0aa;
}

.icon {
  fill: #f4f4fd;
}

.footer-subscription {
  width: 100%;
}

.subscription-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
}

.form-input-footer {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  padding-left: 16px;
  flex-grow: 1;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #ffffff;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
}

.form-input-footer::placeholder {
  color: #ffffff;
}

.form-input-footer:focus,
.form-input-footer:hover,
.form-input-footer:active {
  border-color: #31d0aa;
  outline: none;
  color: #fff;
}

.footer-submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  background-color: #4d5ae5;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  height: 40px;
  min-width: 165px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  margin: 0;
}

.footer-submit-btn:hover,
.footer-submit-btn:focus {
  background-color: #31d0aa;
}

.icon-send {
  margin-left: 16px;
  fill: #ffffff;
}

@media screen and (min-width: 768px) {
  .footer .container {
    max-width: 768px;
  }

  .footer-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    column-gap: 24px;
    row-gap: 72px;
  }

  .footer-info,
  .footer-social-media {
    flex-basis: calc((100% - 210px) / 2);
    text-align: left;
    align-items: flex-start;
  }

  .footer-social-title {
    text-align: left;
  }

  .footer-subscription {
    justify-content: center;
    width: calc(2 * 264px + 24px);
    margin: 0 auto;
  }

  .subscription-form {
    justify-content: flex-start;
    align-items: flex-start;
  }

  .form-input-footer {
    max-width: 264px;
  }
}

@media screen and (min-width: 1158px) {
  .footer .container {
    max-width: 1158px;
  }

  .footer-container {
    flex-wrap: nowrap;
    column-gap: 0;
    row-gap: 0;
  }

  .footer-description {
    margin-right: 120px;
    max-width: 264px;
  }

  .footer-social-media {
    flex-direction: column;
    flex-basis: 108px;
    margin-right: 80px;
  }

  .footer-subscription {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
  }
}
/* =========      Modal form hero      ========= */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 12;
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 288px;
  max-height: 640px;
  transform: translate(-50%, -50%);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  border-radius: 4px;
  padding: 72px 16px 26px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 24px;
  right: 24px;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn svg {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-close-btn:hover svg,
.modal-close-btn:focus svg {
  fill: #ffffff;
}

.title-modal-form {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}

.form-field {
  margin-bottom: 8px;
}

.form-label {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
  display: block;
}

.input-wrapper {
  position: relative;
  margin-bottom: 8px;
}

.form-input {
  width: 100%;
  padding: 16px 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  height: 40px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: #6e6e6e;
  pointer-events: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:hover,
.form-input:focus {
  border: 1px solid #4d5ae5;
  outline: none;
}

.form-icon:hover,
.form-icon:focus {
  fill: #4d5ae5;
}

.input-wrapper:hover .form-icon,
.form-input:focus + .form-icon {
  fill: #4d5ae5;
}

.comment-field {
  margin-bottom: 16px;
}

textarea.form-input {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

textarea.form-input:focus {
  border-color: #4d5ae5;
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.checkbox-input.visually-hidden {
  display: none;
}

.checkbox-click {
  margin-right: 8px;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  fill: transparent;
}

.checkbox-input:checked + label > .checkbox-click {
  background-color: var(--checkbox-bg-checked, #404bbf);
  border: none;
  fill: var(--checkbox-click-checked, #f4f4fd);
}

.accept-policy {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--label-color, #8e8f99);
  align-items: center;
  display: flex;
}

.privacy-link {
  color: var(--link-color, #4d5ae5);
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.submit-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  margin: 24px auto;
  padding: 16px 32px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-btn:hover,
.submit-btn:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px;
  }
}

/*   ========    Mobile Menu   ========  */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  z-index: 10;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  position: relative;
  padding: 72px 24px 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fcfcfc;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-nav {
  margin-bottom: auto;
}

.mobile-nav-list {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.mobile-nav-item {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.mobile-nav-item:first-child a {
  color: #404bbf;
}

.mobile-address {
  margin-bottom: 48px;
}

.mobile-address-list {
  font-style: normal;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.mobile-address-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #434455;
}

.mobile-address-item:first-child a {
  color: #4d5ae5;
}

.mobile-traling-icons {
  width: 280px;
  gap: 40px;
  margin: 0;
}

.burger-btn {
  position: static;
  top: 16px;
  right: 16px;
  padding: 0;
  border: none;
  background-color: transparent;
}

.burger-icon {
  display: block;
  fill: #2f2f37;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
